/backups/**
/crash-reports
/logs
*.code-workspace
/*.log
/journeymap
config/splash.properties
config/jei/worldSettings.cfg
/.mixin.out
/mineraltracker
/saves
/screenshots
/TombManyGraves
/usercache.json
/usernamecache.json
/options.txt
/patchouli_data.json