# Configuration file

general {

    ##########################################################################################################
    # thermal
    #--------------------------------------------------------------------------------------------------------#
    # Thermal Module Settings
    ##########################################################################################################

    thermal {
        # Should TFC and/Rocks be made in an extruder?
        B:extruder=true

        # Enable Precipitator recipes.
        B:precipitator=true

        # Enable Pulverizer recipes.
        B:pulverizer=true

        # Enable Redstone Furnace recipes.
        B:redstone_furnace=true

        # Enable Sawmill recipes.
        B:sawmill=true

        # Should Thermal Refinery Recipes be made in a barrel?
        B:thermal_refinery_recipes=false
    }

    ##########################################################################################################
    # pyrotech
    #--------------------------------------------------------------------------------------------------------#
    # Pyrotech Module Settings
    ##########################################################################################################

    pyrotech {
        # Enable Pyrotech anvil recipes.
        B:anvil=true

        # Enable Brick Oven recipes.
        B:brick_oven=true

        # Enable Compacting Bin recipes.
        B:compacting_bin=true

        # Register TFC Hammers as valid Pyrotech Hammers.
        B:hammer=true

        # Enable Soaking Pot recipes.
        B:soaking_pot=true

        # Enable Stone Oven recipes.
        B:stone_oven=true
    }

    ##########################################################################################################
    # techreborn
    #--------------------------------------------------------------------------------------------------------#
    # Techreborn Module Settings
    ##########################################################################################################

    techreborn {
        # Enable compressor recipes.
        B:compressor=true

        # Enable extractor recipes.
        B:extractor=true

        # Enable grinder recipes.
        B:grinder=true

        # Enable rolling machine recipes.
        B:rollingmachine=true

        # Enable sawmill recipes.
        B:sawmill=true

        # Enable wiremill recipes.
        B:wiremill=true
    }

    ##########################################################################################################
    # mekanism
    #--------------------------------------------------------------------------------------------------------#
    # Mekanism Module Settings
    ##########################################################################################################

    mekanism {
        # Enable crusher recipes.
        B:crusher=true

        # Enable evaporation recipes.
        B:evaporation=true

        # Enable sawmill recipes.
        B:sawmill=true
    }

    ##########################################################################################################
    # betterwithmods
    #--------------------------------------------------------------------------------------------------------#
    # Betterwithmods Module Settings
    ##########################################################################################################

    betterwithmods {
        # Enable cauldron recipes.
        B:cauldron=true

        # Enable millstone recipes.
        B:millstone=true

        # Enable saw recipes.
        B:saw=true
    }

}


